article {
    width: 40em;
    margin: auto;
    margin-top: 1em;
}

article section {
    max-width: 40em;
    font-size: 1.1em;
}

h3 {
    border-bottom: 2px grey solid;
    font-size: 2em;
    color: grey;
    padding-bottom: 0.3em;
}

.img-container {
    display: flex;
}

.img-container img {
    max-width: 20rem;
    margin: 0 0.3em 0 0.3em;
}

form {
    max-width: 40em;
    margin-top: 1.5em;
}
button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

input {
    display: block;
    margin-top: 0.5em;
    height: 2em;
    background-color: grey;
    color: white;
    width: 100%;
}

label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

textarea {
    display: block;
    margin-top: 0.5em;
    height: 2em;
    background-color: grey;
    color: white;
    width: 100%;
    height: 100%;
}

button {
    color: white;
    background-color: black;
    padding: 0.3em 1.3em 0.3em 1.3em;
}
